#blocks-container {
    counter-reset: question-counter;
    margin-top: 42px;


    padding: 20px;
    padding-bottom: 80px;
    box-sizing: border-box;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#add-block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    border: none;
    right: 10px;
    background-color: #092d42;
    color: white;
    width: 60px;
    height: 60px;
    padding: 0;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    z-index: 100;
    cursor: pointer;
}

#add-block-btn svg {
    width: 30px;
    height: 30px;
}

#add-block-btn:hover {
    transform: scale(1.05);
    background-color: #1a65af;
}

#add-block-btn:active {
    transform: scale(0.95);
}