/* Central Editor Styles */
.central-editor-container {
    width: 100%;
    background: white;
    padding: 5px;
    box-sizing: border-box;
}

#central-quill-editor {
    min-height: 60px;
    background: white;
}

/* Quill Alignments */
.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.ql-align-justify {
    text-align: justify;
}